@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #B5B2CA;
  font-family: 'Dosis', sans-serif;
}